{% extends 'base.html' %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block title %} Add Movie Form {% endblock %}
<p>Movie: {{ movie }}</p>

{% block content %}
    <div class="container">
        {% block page_content %}
        <h1>Movie Form</h1>
        <p>Add movie title - the rest is magic </p>

       <form method="POST" action="{{ url_for('movie.add_movie') }}">
          {{ form.hidden_tag() }}

          <p>
            {{ form.movie_name.label }}<br>
            {{ form.movie_name(size=30) }}
            {% for error in form.movie_name.errors %}
              <span class="error">{{ error }}</span>
            {% endfor %}
          </p>


          <p>
            {{ form.submit() }}
          </p>
        </form>
    </div>
{% endblock %}
{% endblock %}
