{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

{% endblock %}

{% block title %} Title {% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Flex container for Logo, Title & Links -->
        <div class="navbar-content">
            <!-- Logo Block (Left-Aligned) -->
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="navbar-logo">
            </a>

            <!-- Title (Centered) -->
            <span class="navbar-title">Movie Madness</span>

            <!-- Navbar Links (Right-Aligned) -->
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('user.list_users') }}">Users</a>
                <a class="nav-item nav-link" href="{{ url_for('movie.list_movies') }}">Movies</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %} {% endblock %}

</div>
{% endblock %}
