{% extends 'base.html' %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block title %} Movie Form {% endblock %}
<p>Movie: {{ movie }}</p>

{% block content %}
    <div class="container">
        {% block page_content %}
        <h1>Movie Form</h1>
        <p>{% if movie %}Edit{% else %}Add{% endif %} details of a movie</p>

        {% if movie is not none %}
       <form method="POST" action="{{ url_for('movie.edit_movie', movie_id=movie.movie_id) if movie else url_for('movie.add_movie') }}">
          {{ form.hidden_tag() }}

          <p>
            {{ form.movie_name.label }}<br>
            {{ form.movie_name(size=30) }}
            {% for error in form.movie_name.errors %}
              <span class="error">{{ error }}</span>
            {% endfor %}
          </p>

          <p>
            {{ form.movie_director.label }}<br>
            {{ form.movie_director() }}
            {% for error in form.movie_director.errors %}
              <span class="error">{{ error }}</span>
            {% endfor %}
          </p>

          <p>
            {{ form.movie_release_date.label }}<br>
            {{ form.movie_release_date() }}
            {% for error in form.movie_release_date.errors %}
              <span class="error">{{ error }}</span>
            {% endfor %}
          </p>
            <p>
            {{ form.movie_rating.label }}<br>
            {{ form.movie_rating() }}
            {% for error in form.movie_rating.errors %}
              <span class="error">{{ error }}</span>
            {% endfor %}
          </p>

          <p>
            {{ form.submit() }}
          </p>
        </form>
        {% else %}
            <p>No movie found</p>
        {% endif %}

{% endblock %}
{% endblock %}
